import random

player = input('What is your name')

print('Good Luck!', player)
print('--------------------------------------------------')

words = ['security', 'population', 'seminar', 'cooperation', 'empirical', 'budget', 'mechanism', 'bankruptcy', 'belarus', 'bibliography', 'cartridges', 'catalogue',  
         'daughters', 'declaration', 'ecological', 'ecommerce', 'efficiently', 'fellowship', 'financial', 'florence', 'greenhouse', 'grove', 'kilometers', 'likelihood',
        'numerical', 'parameter', 'penetration', 'ratios', 'receptors', 'reflections', 'schema', 'technological', 'yields', 'weapons', 'trauma', 'support', 'stretch', 'roughly']

def random_word():
    word = random.choice(words)
    return word

HANGMANPICS = ['''
    +---+
    |   |
        |
        |
        |
        |
   =========''','''

    +---+
    |   |
    o   |
        |
        |
        |
   =========''','''

    +---+
    |   |
    o   |
    |   |
        |
        |
   =========''','''

    +---+
    |   |
    o   |
   /|   |
        |
        |
   =========''','''

    +---+
    |   |
    o   |
   /|\  |
        |
        |
   =========''','''

    +---+
    |   |
    o   |
   /|\  |
   /    |
        |
   ========''','''

    +---+
    |   |
    o   |
   /|\  |
   / \  |
        |
   ========''']

def Board(HANGMANPICS, wrong_letters, correct_letters, secret_word):
    print(HANGMANPICS[len(wrong_letters)])
    print()

    print('missed letters', end=' ')
    for letters in wrong_letters:
        print(letters, end= ' ')
    print()

    blanks = '_'*len(secret_word)

    for x in range(len(secret_word)):
        if secret_word[x] in correct_letters:
            blanks = blanks[:x] + secret_word + blanks[x+1:]

    for letter in blanks:
        print(letter, end = ' ')
    print()

def guessed(letters_guessed):
    while True:
        print('Guess a letter.')
        guessed = input()
        guessed = guessed.lower()
        if len(guessed) != 1:
            print('please select 1 letter')
        elif guessed in letters_guessed:
            print('already selected, pick another letter')
        elif guessed not in 'abcdefghijklmnopqrstuvwxyz':
            print('please select a letter')
        elif:
            return guessed

def play_another_round():
    print('do you want to play again? (yes or no)')
    return input().lower().startswith('y')

print(HANGMAN):
    wrong_letters = ' ' 
    correct_letters = ' '
    secret_word = random_word(words)
    game_over = False

while True:
    Board(HANGMANPICS, wrong_letters, correct_letters, secret_word)

    guess = guessed(wrong_letters + correct_letters)

    if guess in secret_word:
        correct_letters = correct_letters + guessed

    for x in range(len(secret_word)):
        if secret_word[x] not in correct_letters:
            found_all = False
            break
        if found_all:
            print('Yes,' secret_word 'is correct')
            game_over = True

        if game_over:
        if play_another_round():
        wrong_letters = ' ' 
        correct_letters = ' ' 
        game_over = False
        secret_word = random_word(words)
    else:
        break

